body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wraper {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chatBox {
    height: 30vw;
    padding: 10px;
    overflow: auto;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.message {
    height: 30px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 24px;
}

button.send {
    border: none;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button.send:active {
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

ul li {
    display: flex;
    list-style: none;
    align-items: center;

}

ul li span {
    display: block;
    width: 200px;
}
ul li p {
    margin: 0px;
}